@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: #f1f1f1 !important;
}

.container {
  margin: 0vh auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

header {
  min-height: 20vh;
  background: #00fd13;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  position: relative;
  padding: 35px 0;
}

header i{
  color: #fff;
}

header code{
  color: #000;
}

main {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  top: 15vh;
}


form input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form button {
  outline: 0;
  box-shadow: 0;
  border: 2px solid #00fd13;
  border-radius: 30px;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  background: #00fd13;
  font-size: 1.2rem;
}

/* Favoritos Syles */
.fav-inline {
  display: flex;
  flex-wrap: initial;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px 0;
}

@media only screen and (max-width: 600px) {
  .fav-inline {
    display: block;
  }
}

.fav-inline .fav-btn {
  display: table;
  margin: 5px;
  border: 2px solid #000;
  color: #000;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  transition: 0.2s;
}

.fav-inline .fav-btn:hover {
  border: 2px solid #000;
  background: #000;
  color: #fff;
}

.fav-inline .fav-txt {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Card Syles */
.card {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info p{
  font-size: 1.5rem;
  background: #fff;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.iWeather i{
  color: #00fd13;
}
