*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}

.container {
  width: 750px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

.container .app header {
  padding-top: 20px;
  font-size: 1.5rem;
}

.container .app code {
  width: 100%;
  padding: 10px;
}

.container .app #version {
  color: #00fd13;
}


.container .app #info {
  padding: 20px;
}

input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
}

.input-icon-wrap {
  border: 1px solid #cacaca;    
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 30px;
}

.input-icon-wrap  {
  flex: 1;
  cursor: pointer;
}



.container .app  form button{
  outline: 0;
  box-shadow: 0;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  background: #00fd13;
  font-size: 1.2rem;
}

.container .app main h1{
  color: #00fd13;
  font-size: 2rem;
  padding-top: 20px;
}

.container .app main h2{
  color: #000;
  font-size: 1rem;
}

.fav-inline {
  display: flex;
  flex-wrap: initial;
  justify-content: space-between;
  padding: 20px 0;
}

.fav-btn {
  display: table;
  margin: 5px;
  background: rgba(0, 253, 19, 1);
  color: #000;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
}

.fav-txt {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  padding: 10px;
  background: #00fd13;
}

footer p{
text-align: center;
color: #000;
}